.tabContainer {
  padding: 1rem 0 0.5rem 0;
  .tabSlider {
    width: 80%;
    margin: 0 10%;
    padding-bottom: 0.5rem;
    overflow: hidden;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    @include respond(phone) {
      width: 90%;
      margin: 0 5%;
    }
    &::-webkit-scrollbar {
      //display: none;
    }
    &::-webkit-scrollbar {
      height: 1rem;
      background: hsl(0, 0%, 90%);
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      border: 0.2rem solid hsl(0, 0%, 90%);
      background: hsl(0, 0%, 77%);
      &:hover {
        background: hsl(0, 0%, 70%);
      }
    }
    @include respond(phone) {
      &::-webkit-scrollbar {
        display: none;
      }
    }
    &-tabs {
      width: max-content;
      display: flex;
      gap: 1rem;
    }
  }
}
