/*
0-600 phone
600-900 tablet portrait
900-1200 tablet landscape
1200-1800 normal styles
1800 big desktops

breakpoint argument choices:
- phone--600px--37.5em
- tab-port--900px--56.25em
- tab-land--1200px--75em
- big-desk--1800px--112.5em
*/
@-webkit-keyframes FadeIn {
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-moz-keyframes FadeIn {
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes FadeIn {
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: "Nunito", sans-serif, courier, arial, helvetica;
  font-weight: 400;
  font-size: 62.5%;
  /*62.5% of 16px is 10px*/
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}
@media only screen and (min-width: 131.25em) {
  html {
    font-size: 90%;
  }
}
@media only screen and (min-width: 160em) {
  html {
    font-size: 100%;
  }
}
@media only screen and (min-width: 192em) {
  html {
    font-size: 120%;
  }
}

body {
  box-sizing: border-box;
  text-transform: none;
  background-color: white;
  overflow-x: hidden;
  /*&::-webkit-scrollbar {
    width: 1.5rem;
  }
  &::-webkit-scrollbar-track {
    background: rgb(99, 99, 99);
  }
  &::-webkit-scrollbar-thumb {
    border: 0.4rem solid rgb(99, 99, 99);
    background: rgb(196, 196, 196);
    border-radius: 0.75rem;
    &:hover {
      background: white;
    }
  }*/
}

input,
textarea {
  font-family: "Nunito", sans-serif, courier, arial, helvetica;
}

.btn:hover {
  cursor: pointer;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: white;
}

.layout {
  font-size: 2rem;
  background-color: #f7f9fd;
}

.tabContainer {
  padding: 1rem 0 0.5rem 0;
}
.tabContainer .tabSlider {
  width: 80%;
  margin: 0 10%;
  padding-bottom: 0.5rem;
  overflow: hidden;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
@media only screen and (max-width: 37.5em) {
  .tabContainer .tabSlider {
    width: 90%;
    margin: 0 5%;
  }
}
.tabContainer .tabSlider::-webkit-scrollbar {
  height: 1rem;
  background: #e6e6e6;
}
.tabContainer .tabSlider::-webkit-scrollbar-track {
  background: transparent;
}
.tabContainer .tabSlider::-webkit-scrollbar-thumb {
  border: 0.2rem solid #e6e6e6;
  background: #c4c4c4;
}
.tabContainer .tabSlider::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
}
@media only screen and (max-width: 37.5em) {
  .tabContainer .tabSlider::-webkit-scrollbar {
    display: none;
  }
}
.tabContainer .tabSlider-tabs {
  width: max-content;
  display: flex;
  gap: 1rem;
}

/*.pageContainer {
  position: relative;
  margin-top: 2rem;
  width: 80%;
  margin: 2rem 10%;
  border-bottom: 1px solid hsl(0, 0%, 83%);
}
.page {
  position: absolute;
  width: 100%;
  &-invisible {
    z-index: -1;
    left: -100vw;
    top: -1100vh;
  }
}*/
.pageContainer {
  position: relative;
  width: 100%;
  padding: 0rem 10%;
  border-bottom: 1px solid #d4d4d4;
}
@media only screen and (max-width: 37.5em) {
  .pageContainer {
    padding: 0rem 5%;
  }
}

.page {
  position: absolute;
  width: 80%;
}
@media only screen and (max-width: 37.5em) {
  .page {
    width: 90%;
  }
}
.page-invisible {
  z-index: -1;
  left: -100vw;
  top: -1100vh;
}

.tab {
  display: flex;
  width: 15rem;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  border: 2px solid #d4d4d4;
  position: relative;
}
.tab:hover {
  cursor: pointer;
  border: 2px solid #93bcf0;
}
.tab-current {
  border: 2px solid #3a83e4;
}
.tab-current .tab-content-heading {
  color: #3a83e4;
}
.tab-current:hover {
  border: 2px solid #3a83e4;
}
.tab-content {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
}
.tab-content-heading {
  font-size: 1rem;
}
.tab-content-subheading {
  font-weight: bold;
}
.topNav {
  background-color: white;
  border-bottom: 1px solid #d4d4d4;
}
.topNav-content {
  display: flex;
  justify-content: space-between;
  padding: 1.8rem 10% 1.5rem 10%;
  border-bottom: 1px solid #d4d4d4;
}
@media only screen and (max-width: 37.5em) {
  .topNav-content {
    padding-left: 5%;
    padding-right: 5%;
  }
}
.topNav-content-left-logo {
  font-weight: bold;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
}
.topNav-content-right {
  display: flex;
  gap: 4rem;
  align-items: center;
}
.topNav-content-right-item {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #3b3b3b;
  font-weight: 700;
}
.topNav-content-right-item:hover {
  cursor: pointer;
}
.topNav-global {
  width: 80%;
  margin: 0 10%;
  overflow: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
@media only screen and (max-width: 37.5em) {
  .topNav-global {
    width: 90%;
    margin: 0 5%;
  }
}
.topNav-global::-webkit-scrollbar {
  display: none;
}
.topNav-global-slider {
  width: max-content;
  display: flex;
  gap: 2rem;
}
.topNav-global-slider .globalItem {
  padding: 1rem 0;
  line-height: 1.2rem;
}
.topNav-global-slider .globalItem-topic {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #3b3b3b;
  margin-right: 0.6rem;
}
.topNav-global-slider .globalItem-value {
  font-size: 1.2rem;
  color: #2762b0;
}

.alertBox {
  z-index: 2000;
  position: fixed;
  top: 9vh;
  left: 50%;
  transform: translateX(-50%);
  width: minmax(max-content, 30rem);
  height: max-content;
  padding: 1rem 2rem;
  padding-right: 3.5rem;
  border-radius: 5px;
  display: flex;
  flex-flow: column;
}
.alertBox-error {
  background-color: #e69494;
}
.alertBox-success {
  background-color: #7cd89b;
}

.alertText {
  font-size: 1.4rem;
}
.alertText-error {
  color: #8a0000;
  font-weight: 500;
}
.alertText-success {
  color: #004200;
}

.alertClose {
  position: absolute;
  top: 1.2rem;
  right: 1rem;
  color: #3d3b3b;
  width: 1.6rem;
  height: 1.6rem;
}
.alertClose:hover {
  color: #c40000;
  cursor: pointer;
}

.searchModal {
  position: fixed;
  top: 6rem;
  right: 10%;
  width: 42.5rem;
  height: max-content;
  background-color: white;
  z-index: 12;
  border-radius: 1rem;
  padding: 1rem 2rem 2rem 2rem;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
@media only screen and (max-width: 37.5em) {
  .searchModal {
    top: 0;
    left: 0;
    width: 100%;
  }
}
.searchModal-inputContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 12;
}
.searchModal-inputContainer .searchIcon {
  width: 2rem;
  height: 2rem;
  color: #8d99b0;
}
.searchModal-inputContainer input {
  width: calc(100% - 5rem);
  outline: none;
  border: none;
  padding: 0.5rem 0;
  font-size: 1.6rem;
}
.searchModal-inputContainer .closeIcon {
  width: 2rem;
  height: 2rem;
  color: #6f7f9b;
}
.searchModal-inputContainer .closeIcon:hover {
  cursor: pointer;
}
.searchModal-noInput {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-flow: column;
  gap: 2rem;
}
.searchModal-trendingSection {
  width: 100%;
}
.searchModal-trendingSection-heading {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
}
.searchModal-trendingSection-heading .text {
  font-size: 1.2rem;
  text-transform: uppercase;
}
.searchModal-trendingSection-heading .icon {
  width: 1.2rem;
  height: 1.2rem;
  color: #d13f1a;
}
.searchModal-trendingSection-list {
  margin-top: 0.5rem;
  width: 100%;
  list-style: none;
  display: flex;
  flex-flow: column;
}
.searchModal-trendingSection-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 1rem;
}
.searchModal-trendingSection-list-item:hover {
  background-color: #f0f6ff;
  cursor: pointer;
}
.searchModal-trendingSection-list-item .left {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.searchModal-trendingSection-list-item .left .img {
  width: 2rem;
  height: 2rem;
}
.searchModal-trendingSection-list-item .left .name {
  font-size: 1.6rem;
  font-weight: 700;
}
.searchModal-trendingSection-list-item .left .symbol {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #6f7f9b;
}
.searchModal-trendingSection-list-item .rank {
  font-size: 1.4rem;
  color: #6f7f9b;
}
.searchModal-recentSection {
  width: 100%;
  display: flex;
  flex-flow: column;
  gap: 0.7rem;
}
.searchModal-recentSection-heading {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
}
.searchModal-recentSection-heading .text {
  font-size: 1.2rem;
  text-transform: uppercase;
}
.searchModal-recentSection-heading .icon {
  width: 1.4rem;
  height: 1.4rem;
  color: #2d5eb9;
}
.searchModal-recentSection-listContainer {
  width: calc(100% - 2rem);
  overflow: hidden;
  overflow-x: auto;
  align-self: center;
}
.searchModal-recentSection-listContainer-list {
  list-style: none;
  display: flex;
  gap: 1rem;
  width: max-content;
  padding: 0.5rem 0rem;
}
.searchModal-recentSection-listContainer-list .listItem {
  width: 8rem;
  height: 8rem;
  border-radius: 1rem;
  background-color: #fafcff;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.5rem;
}
.searchModal-recentSection-listContainer-list .listItem:hover {
  cursor: pointer;
  background-color: #f0f6ff;
}
.searchModal-recentSection-listContainer-list .listItem .img {
  width: 3rem;
  height: 3rem;
}
.searchModal-recentSection-listContainer-list .listItem .symbol {
  text-transform: uppercase;
  font-size: 1.4rem;
}
.searchModal-results {
  margin-top: 1rem;
  width: 100%;
}
.searchModal-results-heading {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
}
.searchModal-results-heading .text {
  font-size: 1.2rem;
  text-transform: uppercase;
}
.searchModal-results-list {
  margin-top: 0.5rem;
  width: 100%;
  list-style: none;
  display: flex;
  flex-flow: column;
}
.searchModal-results-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 1rem;
}
.searchModal-results-list-item:hover {
  background-color: #f0f6ff;
  cursor: pointer;
}
.searchModal-results-list-item .left {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.searchModal-results-list-item .left .img {
  width: 2rem;
  height: 2rem;
}
.searchModal-results-list-item .left .name {
  font-size: 1.6rem;
  font-weight: 700;
}
.searchModal-results-list-item .left .symbol {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #6f7f9b;
}
.searchModal-results-list-item .rank {
  font-size: 1.4rem;
  color: #6f7f9b;
}
.searchModal-notFound {
  width: 100%;
  height: 25rem;
  display: grid;
  place-items: center;
}
.searchModal-notFound-container {
  display: flex;
  flex-flow: column;
  width: 27rem;
  align-items: center;
  gap: 0.5rem;
}
.searchModal-notFound-container .iconContainer {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: #e1e4ea;
  display: grid;
  place-items: center;
}
.searchModal-notFound-container .iconContainer .icon {
  width: 3rem;
  height: 3rem;
  color: #7887a1;
}
.searchModal-notFound-container .heading {
  font-size: 2rem;
  font-weight: 700;
  color: #495569;
}
.searchModal-notFound-container .desc {
  text-align: center;
  font-size: 1.6rem;
  color: #5e6d87;
}

.loginModalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 11;
}
.loginModalContainer button {
  z-index: 20;
}
.loginModalContainer-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.loginModalContainer-loginModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45rem;
  height: 34rem;
  background-color: white;
  border-radius: 1rem;
  z-index: 11;
  overflow: hidden;
  display: flex;
}
.loginModalContainer-loginModal-closeIcon {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  color: black;
  z-index: 12;
}
.loginModalContainer-loginModal-closeIcon:hover {
  cursor: pointer;
  color: red;
}
.loginModalContainer-loginModal-optionBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  font-size: 1.2rem;
  z-index: 13;
  background-color: #0367ea;
  color: white;
  transition: all 0.3s ease;
}
.loginModalContainer-loginModal-optionBg-login {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translate(-3rem, -50%);
  background-color: inherit;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding: 0.5rem;
  z-index: 11;
}
.loginModalContainer-loginModal-optionBg-login span {
  writing-mode: vertical-lr;
  text-orientation: upright;
}
.loginModalContainer-loginModal-optionBg-login span:hover {
  cursor: pointer;
}
.loginModalContainer-loginModal-optionBg-login:hover {
  cursor: pointer;
}
.loginModalContainer-loginModal-optionBg-register {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translate(3rem, -50%);
  background-color: inherit;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 0.5rem;
  z-index: 11;
}
.loginModalContainer-loginModal-optionBg-register span {
  writing-mode: vertical-lr;
  text-orientation: upright;
}
.loginModalContainer-loginModal-optionBg-register:hover {
  cursor: pointer;
}
.loginModalContainer-loginModal-loginSection {
  visibility: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 100%;
  z-index: 10;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 1.5rem;
}
.loginModalContainer-loginModal-loginSection-heading {
  opacity: 0;
  font-size: 2.5rem;
  color: #585858;
  letter-spacing: 0.3rem;
  font-weight: bold;
  margin-bottom: 7rem;
}
.loginModalContainer-loginModal-loginSection-form {
  opacity: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 7rem;
  width: 100%;
}
.loginModalContainer-loginModal-signupSection {
  visibility: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 100%;
  z-index: 10;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 1.5rem;
}
.loginModalContainer-loginModal-signupSection-heading {
  opacity: 0;
  font-size: 2.5rem;
  color: #585858;
  letter-spacing: 0.3rem;
  font-weight: bold;
  margin-bottom: 7rem;
}
.loginModalContainer-loginModal-signupSection-form {
  opacity: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 7rem;
  width: 100%;
}
.loginModalContainer-loginModal-loginSectionVisible {
  visibility: visible;
  z-index: 12;
}
.loginModalContainer-loginModal-loginSectionVisible .loginModalContainer-loginModal-loginSection-heading {
  transform: scale(0.5);
  -webkit-animation: FadeIn 0.3s ease-in-out forwards;
  -moz-animation: FadeIn 0.3s ease-in-out forwards;
  animation: FadeIn 0.3s ease-in-out forwards;
}
.loginModalContainer-loginModal-loginSectionVisible .loginModalContainer-loginModal-loginSection-form {
  transform: scale(0.5);
  -webkit-animation: FadeIn 0.3s ease-in-out forwards;
  -moz-animation: FadeIn 0.3s ease-in-out forwards;
  animation: FadeIn 0.3s ease-in-out forwards;
}
.loginModalContainer .loginFormGrp {
  width: 100%;
}
.loginModalContainer .loginFormGrp-input {
  width: 100%;
  position: relative;
}
.loginModalContainer .loginFormGrp-input-label {
  position: absolute;
  font-size: 1.6rem;
  top: 0.5rem;
  left: 3.2rem;
  z-index: 10;
  visibility: hidden;
  color: #747474;
  transition: all 0.3s ease;
}
.loginModalContainer .loginFormGrp-input-icon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 2.2rem;
  height: 2.2rem;
  color: #a7a7a7;
}
.loginModalContainer .loginFormGrp-input input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  padding-left: 3.2rem;
  border-bottom: 1px solid #cacaca;
  font-size: 1.6rem;
}
.loginModalContainer .loginFormGrp-input input:focus + label {
  visibility: visible;
  top: -1.7rem;
  color: #0692c9;
  transition: all 0.3s ease;
}
.loginModalContainer .loginFormGrp-input input:focus {
  border-color: #0692c9;
}
.loginModalContainer .loginFormGrp-input input::placeholder {
  font-size: 1.6rem;
  color: #747474;
  opacity: 1;
  transition: all 0s 0.3s ease;
}
.loginModalContainer .loginFormGrp-input input:focus::placeholder {
  opacity: 0;
  transition: none;
}
.loginModalContainer .loginFormGrp-input input:valid + label {
  visibility: visible;
  top: -1.7rem;
  color: #0692c9;
  transition: all 0.3s ease;
}
.loginModalContainer .loginFormGrp-input-msg-error {
  font-size: 1.2rem;
  position: absolute;
  top: 3.2rem;
  color: red;
}
.loginModalContainer .loginFormGrp-input-msg-success {
  font-size: 1.2rem;
  position: absolute;
  top: 3.2rem;
  color: green;
}
.loginModalContainer .loginFormGrp-btn {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 0.7rem;
  /*width: 20rem;
  padding: 0.7rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  color: white;
  text-transform: uppercase;
  background-color: rgb(3, 103, 234);
  &:hover {
    cursor: pointer;
  }
  &-disabled {
    background-color: rgb(153, 153, 153);
    &:hover {
      cursor: unset;
    }
  }*/
}
.loginModalContainer .loginFormGrp-btn .btn {
  width: 20rem;
  padding: 0.7rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  color: white;
  text-transform: uppercase;
  background-color: #0367ea;
}
.loginModalContainer .loginFormGrp-btn .btn:hover {
  cursor: pointer;
}
.loginModalContainer .loginFormGrp-btn .btn-disabled {
  background-color: #999999;
}
.loginModalContainer .loginFormGrp-btn .btn-disabled:hover {
  cursor: unset;
}
.loginModalContainer .loginFormGrp-btn .additional {
  font-size: 1.6rem;
  color: #0367ea;
}
.loginModalContainer .loginFormGrp-btn .additional:hover {
  cursor: pointer;
}
.loginModalContainer-loginModal-login .loginModalContainer-loginModal-optionBg {
  left: calc(100% - 1rem);
}
.loginModalContainer-loginModal-signup .loginModalContainer-loginModal-optionBg {
  left: calc(-100% + 1rem);
}

.watchlistModal {
  position: fixed;
  top: 6rem;
  right: 10%;
  width: 42.5rem;
  height: max-content;
  background-color: white;
  z-index: 11;
  border-radius: 1rem;
  padding: 1rem 2rem 2rem 2rem;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
@media only screen and (max-width: 37.5em) {
  .watchlistModal {
    top: 0;
    left: 0;
    width: 100%;
  }
}
.watchlistModal-heading {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 0.5rem 0 0.5rem 0;
  text-transform: uppercase;
}
.watchlistModal-noWatchlists {
  width: 100%;
  height: 25rem;
  display: grid;
  place-items: center;
}
.watchlistModal-noWatchlists-container {
  display: flex;
  flex-flow: column;
  width: 35rem;
  align-items: center;
  gap: 0.5rem;
}
.watchlistModal-noWatchlists-container .iconContainer {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: #e7eaee;
  display: grid;
  place-items: center;
}
.watchlistModal-noWatchlists-container .iconContainer .icon {
  width: 3rem;
  height: 3rem;
  color: #7887a1;
}
.watchlistModal-noWatchlists-container .heading {
  font-size: 2rem;
  font-weight: 700;
  color: #495569;
}
.watchlistModal-noWatchlists-container .desc {
  text-align: center;
  font-size: 1.6rem;
  color: #5e6d87;
}
.watchlistModal-noWatchlists-container button {
  margin-top: 1rem;
  outline: none;
  border: none;
  font-size: 1.4rem;
  text-transform: uppercase;
  background-color: #f0f2f5;
  color: #343d4b;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-weight: 700;
  transition: all 0.3s ease;
}
.watchlistModal-noWatchlists-container button:hover {
  background-color: #5e6d87;
  color: #f6f7f9;
  cursor: pointer;
}
.watchlistModal-createSection {
  height: max-content;
  padding-top: 2em;
  width: 100%;
  display: flex;
  flex-flow: column;
  gap: 1rem;
}
.watchlistModal-createSection .inputGrp {
  width: 100%;
}
.watchlistModal-createSection .inputGrp input {
  width: 100%;
  border-radius: 0.4rem;
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  background-color: #f6f7f9;
  font-size: 1.6rem;
  color: #495569;
  border: 1px solid transparent;
}
.watchlistModal-createSection .inputGrp textarea {
  width: 100%;
  height: 15rem;
  border-radius: 0.4rem;
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  background-color: #f6f7f9;
  font-size: 1.6rem;
  color: #495569;
  border: 1px solid transparent;
}
.watchlistModal-createSection .inputGrp label {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #495569;
}
.watchlistModal-createSection .inputGrp label span {
  text-transform: initial;
}
.watchlistModal-createSection .inputGrp:focus-within label {
  font-weight: bold;
}
.watchlistModal-createSection .inputGrp:focus-within input, .watchlistModal-createSection .inputGrp:focus-within textarea {
  border: 1px solid #b4bccb;
}
.watchlistModal-createSection .buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.watchlistModal-createSection .buttons button {
  width: 48%;
  outline: none;
  border: none;
  font-size: 1.4rem;
  text-transform: uppercase;
  background-color: #f0f2f5;
  color: #343d4b;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-weight: 700;
  transition: all 0.3s ease;
}
.watchlistModal-createSection .buttons button:hover {
  background-color: #5e6d87;
  color: #f6f7f9;
  cursor: pointer;
}
.watchlistModal-createSection .buttons button:focus {
  background-color: #5e6d87;
  color: #f6f7f9;
  cursor: pointer;
}
.watchlistModal-createSection .buttons .disabled {
  color: #7887a1;
}
.watchlistModal-createSection .buttons .disabled:hover {
  background-color: #f0f2f5;
  color: #7887a1;
  cursor: unset;
}
.watchlistModal-createSection .buttons .disabled:focus {
  background-color: #f0f2f5;
  color: #7887a1;
  cursor: unset;
}
.watchlistModal-watchlistSection {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1rem;
}
.watchlistModal-watchlistSection .watchlistContainer {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1rem;
  max-height: calc(100vh - 22rem);
  overflow: hidden;
  overflow-y: auto;
  padding-right: 0.5rem;
}
.watchlistModal-watchlistSection-list {
  width: 100%;
  display: flex;
  flex-flow: column;
  gap: 1rem;
}
.watchlistModal-watchlistSection-list .watchlist {
  width: 100%;
  display: flex;
  flex-flow: column;
}
.watchlistModal-watchlistSection-list .watchlist-heading {
  display: flex;
  justify-content: space-between;
  background-color: #f0f2f5;
  padding: 1rem;
  border-radius: 0.4rem 0.4rem 0 0;
}
.watchlistModal-watchlistSection-list .watchlist-heading .name {
  font-size: 1.6rem;
  color: #343d4b;
  font-weight: 700;
}
.watchlistModal-watchlistSection-list .watchlist-heading .name:hover {
  color: #1968f0;
  cursor: pointer;
}
.watchlistModal-watchlistSection-list .watchlist-heading .actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.watchlistModal-watchlistSection-list .watchlist-heading .actions-icon {
  width: 1.6rem;
  height: 1.6rem;
  color: #343d4b;
}
.watchlistModal-watchlistSection-list .watchlist-heading .actions-icon:hover {
  cursor: pointer;
}
.watchlistModal-watchlistSection-list .watchlist-content {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border: 0.2rem solid #f0f2f5;
  width: 100%;
  height: 0;
  display: none;
}
.watchlistModal-watchlistSection-list .watchlist-content-visible {
  height: max-content;
  display: block;
}
.watchlistModal-watchlistSection-list .watchlist-content-empty {
  width: 100%;
  padding: 2rem 0;
  display: grid;
  place-items: center;
}
.watchlistModal-watchlistSection-list .watchlist-content-empty-container {
  display: flex;
  flex-flow: column;
  width: 90%;
  align-items: center;
  gap: 0.5rem;
}
.watchlistModal-watchlistSection-list .watchlist-content-empty-container .heading {
  font-size: 1.6rem;
  font-weight: 700;
  color: #495569;
}
.watchlistModal-watchlistSection-list .watchlist-content-empty-container .desc {
  text-align: center;
  font-size: 1.4rem;
  color: #5e6d87;
}
.watchlistModal-watchlistSection-list .watchlist-content-empty-container .btn {
  width: max-content;
  margin-top: 1rem;
  outline: none;
  border: none;
  font-size: 1.4rem;
  text-transform: uppercase;
  background-color: #f0f2f5;
  color: #343d4b;
  padding: 0.5rem 3rem;
  border-radius: 0.5rem;
  border: 0.1rem solid transparent;
  font-weight: 700;
  transition: all 0.3s ease;
}
.watchlistModal-watchlistSection-list .watchlist-content-empty-container .btn:hover {
  border: 0.1rem solid #343d4b;
  background-color: #f0f2f5;
  cursor: pointer;
}
.watchlistModal-watchlistSection-list .watchlist-content-list {
  display: flex;
  flex-flow: column;
}
.watchlistModal-watchlistSection-list .watchlist-content-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}
.watchlistModal-watchlistSection-list .watchlist-content-list-item .left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.watchlistModal-watchlistSection-list .watchlist-content-list-item .left .img {
  width: 3.5rem;
  height: 3.5rem;
}
.watchlistModal-watchlistSection-list .watchlist-content-list-item .left .textual-name {
  font-size: 1.6rem;
  font-weight: bold;
}
.watchlistModal-watchlistSection-list .watchlist-content-list-item .left .textual-symbol {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #6f7f9b;
}
.watchlistModal-watchlistSection-list .watchlist-content-list-item .right {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}
.watchlistModal-watchlistSection-list .watchlist-content-list-item .right .price {
  font-size: 1.6rem;
}
.watchlistModal-watchlistSection-list .watchlist-content-list-item .right .change {
  font-size: 1.2rem;
}
.watchlistModal-watchlistSection-list .watchlist-content-list-item .right .change-up {
  color: #16c582;
}
.watchlistModal-watchlistSection-list .watchlist-content-list-item .right .change-down {
  color: #ea3941;
}
.watchlistModal-watchlistSection-list .watchlist-content-list-item:hover {
  background-color: #f0f6ff;
  cursor: pointer;
}
.watchlistModal-watchlistSection button {
  width: 100%;
  outline: none;
  border: none;
  font-size: 1.4rem;
  text-transform: uppercase;
  background-color: #f0f2f5;
  color: #343d4b;
  background-color: #5e6d87;
  color: #f6f7f9;
  border: 0.1rem solid #5e6d87;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-weight: 700;
  transition: all 0.3s ease;
}
.watchlistModal-watchlistSection button:hover {
  background-color: white;
  color: #343d4b;
  cursor: pointer;
}
.watchlistModal-watchlistSection button:focus {
  background-color: white;
  color: #343d4b;
  cursor: pointer;
}

.addToWatchlistModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 11;
}

.selectWatchlist {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 12;
  width: 42.5rem;
  height: max-content;
  background-color: white;
  border-radius: 1rem;
  padding: 1rem 2rem 2rem 2rem;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
@media only screen and (max-width: 37.5em) {
  .selectWatchlist {
    top: 0;
    left: 0;
    width: 100%;
  }
}
.selectWatchlist-heading {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 0.5rem 0 1.5rem 0;
  text-transform: uppercase;
}
.selectWatchlist-list {
  list-style: none;
  display: flex;
  flex-flow: column;
  gap: 1rem;
  width: 100%;
}
.selectWatchlist-list-item {
  background-color: #f0f2f5;
  padding: 1rem;
  border-radius: 0.4rem;
  font-size: 1.6rem;
  color: #343d4b;
  font-weight: 700;
  transition: all 0.2s ease;
}
.selectWatchlist-list-item:hover {
  background-color: #343d4b;
  color: white;
  cursor: pointer;
}
.selectWatchlist button {
  margin-top: 1rem;
  width: 100%;
  outline: none;
  border: none;
  font-size: 1.4rem;
  text-transform: uppercase;
  background-color: #f0f2f5;
  color: #343d4b;
  background-color: #5e6d87;
  color: #f6f7f9;
  border: 0.1rem solid #5e6d87;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-weight: 700;
  transition: all 0.3s ease;
}
.selectWatchlist button:hover {
  background-color: white;
  color: #343d4b;
  cursor: pointer;
}
.selectWatchlist button:focus {
  background-color: white;
  color: #343d4b;
  cursor: pointer;
}

.createWatchlist {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 12;
  width: 42.5rem;
  height: max-content;
  background-color: white;
  border-radius: 1rem;
  padding: 1rem 2rem 2rem 2rem;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  display: flex;
  flex-flow: column;
  gap: 1rem;
}
@media only screen and (max-width: 37.5em) {
  .createWatchlist {
    top: 0;
    left: 0;
    width: 100%;
  }
}
.createWatchlist .inputGrp {
  width: 100%;
}
.createWatchlist .inputGrp input {
  width: 100%;
  border-radius: 0.4rem;
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  background-color: #f6f7f9;
  font-size: 1.6rem;
  color: #495569;
  border: 1px solid transparent;
}
.createWatchlist .inputGrp textarea {
  width: 100%;
  height: 15rem;
  border-radius: 0.4rem;
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  background-color: #f6f7f9;
  font-size: 1.6rem;
  color: #495569;
  border: 1px solid transparent;
}
.createWatchlist .inputGrp label {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #495569;
}
.createWatchlist .inputGrp label span {
  text-transform: initial;
}
.createWatchlist .inputGrp:focus-within label {
  font-weight: bold;
}
.createWatchlist .inputGrp:focus-within input, .createWatchlist .inputGrp:focus-within textarea {
  border: 1px solid #b4bccb;
}
.createWatchlist .buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.createWatchlist .buttons button {
  width: 48%;
  outline: none;
  border: none;
  font-size: 1.4rem;
  text-transform: uppercase;
  background-color: #f0f2f5;
  color: #343d4b;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-weight: 700;
  transition: all 0.3s ease;
}
.createWatchlist .buttons button:hover {
  background-color: #5e6d87;
  color: #f6f7f9;
  cursor: pointer;
}
.createWatchlist .buttons button:focus {
  background-color: #5e6d87;
  color: #f6f7f9;
  cursor: pointer;
}
.createWatchlist .buttons .disabled {
  color: #7887a1;
}
.createWatchlist .buttons .disabled:hover {
  background-color: #f0f2f5;
  color: #7887a1;
  cursor: unset;
}
.createWatchlist .buttons .disabled:focus {
  background-color: #f0f2f5;
  color: #7887a1;
  cursor: unset;
}

.emptyWatchlist {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 12;
  width: 42.5rem;
  height: max-content;
  background-color: white;
  border-radius: 1rem;
  padding: 1rem 2rem 2rem 2rem;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  height: 25rem;
  display: grid;
  place-items: center;
}
.emptyWatchlist-container {
  display: flex;
  flex-flow: column;
  width: 35rem;
  align-items: center;
  gap: 0.5rem;
}
.emptyWatchlist-container .iconContainer {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: #e7eaee;
  display: grid;
  place-items: center;
}
.emptyWatchlist-container .iconContainer .icon {
  width: 3rem;
  height: 3rem;
  color: #7887a1;
}
.emptyWatchlist-container .heading {
  font-size: 2rem;
  font-weight: 700;
  color: #495569;
}
.emptyWatchlist-container .desc {
  text-align: center;
  font-size: 1.6rem;
  color: #5e6d87;
}
.emptyWatchlist-container button {
  margin-top: 1rem;
  outline: none;
  border: none;
  font-size: 1.4rem;
  text-transform: uppercase;
  background-color: #f0f2f5;
  color: #343d4b;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-weight: 700;
  transition: all 0.3s ease;
}
.emptyWatchlist-container button:hover {
  background-color: #5e6d87;
  color: #f6f7f9;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.homePage {
  width: 100%;
  display: flex;
  flex-flow: column;
  margin-bottom: 4rem;
}
.homePage .categoryContainer {
  margin-top: 3rem;
  width: 100%;
  overflow: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.homePage .categoryContainer::-webkit-scrollbar {
  display: none;
}
.homePage .categoryContainer-categories {
  width: max-content;
  display: flex;
  gap: 0.5rem;
}
.homePage .categoryContainer-categories-category {
  background-color: transparent;
  font-size: 1.2rem;
  color: #58667e;
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  letter-spacing: 0.1rem;
}
.homePage .categoryContainer-categories-category-current {
  background-color: #f0f6ff;
  color: #3762fb;
}
.homePage .categoryContainer-categories-category:hover {
  cursor: pointer;
  background-color: #f0f6ff;
}
.homePage .cryptoTable {
  margin-top: 1rem;
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
  position: relative;
}
.homePage .cryptoTable table,
.homePage .cryptoTable tr,
.homePage .cryptoTable td {
  border: none;
}
.homePage .cryptoTable table {
  border-collapse: collapse;
  min-width: 100%;
}
.homePage .cryptoTable td {
  background-color: white;
}
.homePage .cryptoTable .body-row:hover td {
  background-color: #f0f6ff;
}
.homePage .cryptoTable .header {
  border-top: 1px solid #eff2f5;
  border-bottom: 1px solid #eff2f5;
}
.homePage .cryptoTable .header-data {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 1rem 0;
  padding-left: 0.4rem;
  padding-right: 1.5rem;
}
.homePage .cryptoTable .header-data:last-of-type {
  padding-right: 0;
}
.homePage .cryptoTable .header-data-fixed-rank {
  position: sticky;
  z-index: 2;
  left: 0;
}
.homePage .cryptoTable .header-data-fixed-name {
  position: sticky;
  z-index: 2;
  left: 0;
}
.homePage .cryptoTable .body-row-cell {
  padding: 1rem 1.5rem 1rem 0.4rem;
  font-size: 1.4rem;
  font-weight: 600;
}
.homePage .cryptoTable .body-row-cell:last-of-type {
  padding-right: 0;
}
.homePage .cryptoTable .body-row-cell-fixed-rank {
  position: sticky;
  z-index: 2;
  left: 0;
}
.homePage .cryptoTable .body-row-cell-fixed-coin {
  position: sticky;
  z-index: 2;
  left: 0;
}
.homePage .cryptoTable .body-row-cell-price {
  color: black;
}
.homePage .cryptoTable .body-row-cell-price-up {
  color: #16c582;
}
.homePage .cryptoTable .body-row-cell-price-down {
  color: #ea3941;
}
.homePage .cryptoTable .rank {
  font-size: 1.2rem;
  color: #58667e;
}
.homePage .cryptoTable .coin {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-weight: normal;
}
.homePage .cryptoTable .coin-img {
  width: 2.5rem;
  height: 2.5rem;
}
.homePage .cryptoTable .coin-name {
  letter-spacing: 0.2rem;
}
.homePage .cryptoTable .coin-name-full {
  font-size: 1.6rem;
}
.homePage .cryptoTable .coin-name-symbol {
  font-size: 1.2rem;
  color: #58667e;
  text-transform: uppercase;
}
.homePage .cryptoTable .coin:hover {
  cursor: pointer;
}
.homePage .more {
  margin: 0 auto;
  margin-top: 1rem;
  outline: none;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 1.6rem;
  color: #58667e;
}
.homePage .more:hover {
  cursor: pointer;
  color: #3762fb;
}

.coinPage {
  padding-top: 3rem;
}
.coinPage-coin-info {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 37.5em) {
  .coinPage-coin-info {
    flex-flow: column;
    gap: 2rem;
  }
}
.coinPage-coin-info .left {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  width: max-content;
}
@media only screen and (max-width: 37.5em) {
  .coinPage-coin-info .left {
    width: 100%;
    align-items: flex-start;
  }
}
.coinPage-coin-info .left .coin {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.coinPage-coin-info .left .coin-img {
  width: 15rem;
  height: 15rem;
}
@media only screen and (max-width: 37.5em) {
  .coinPage-coin-info .left .coin-img {
    width: 6rem;
    height: 6rem;
  }
}
.coinPage-coin-info .left .coin-textual-name {
  font-size: 3rem;
  letter-spacing: 0.2rem;
}
@media only screen and (max-width: 37.5em) {
  .coinPage-coin-info .left .coin-textual-name {
    font-size: 2rem;
    letter-spacing: 0.1rem;
  }
}
.coinPage-coin-info .left .coin-textual-info {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.coinPage-coin-info .left .coin-textual-symbol {
  text-transform: uppercase;
  font-size: 2rem;
  color: #8c8c8c;
  font-weight: 700;
}
.coinPage-coin-info .left .coin-textual-rank {
  width: max-content;
  height: 2rem;
  padding: 0 0.5rem;
  font-size: 1.2rem;
  display: grid;
  place-items: center;
  background-color: #e1e4ea;
  color: #58667e;
  border-radius: 0.2rem;
}
.coinPage-coin-info .left .coin-textual .btn {
  outline: none;
  border: none;
  background-color: transparent;
  color: #58667e;
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  border-radius: 0.5rem;
}
.coinPage-coin-info .left .coin-textual .btn:hover {
  color: #3762fb;
}
@media only screen and (max-width: 37.5em) {
  .coinPage-coin-info .left .coin-textual .btn {
    display: none;
  }
}
.coinPage-coin-info .right {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  gap: 1rem;
}
@media only screen and (max-width: 37.5em) {
  .coinPage-coin-info .right {
    width: 100%;
    align-items: flex-start;
  }
}
.coinPage-coin-info .right .coin-price {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
}
.coinPage-coin-info .right .coin-priceChange {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.coinPage-coin-info .right .coin-priceChange-topic {
  font-size: 1.2rem;
  text-transform: uppercase;
}
.coinPage-coin-info .right .coin-priceChange-change {
  font-size: 1.6rem;
}
.coinPage-coin-info .right .coin-priceChange-change-low {
  color: #ea3941;
}
.coinPage-coin-info .right .coin-priceChange-change-high {
  color: #16c582;
}
.coinPage-coin-info .right .coin-priceChange-time {
  font-size: 1.2rem;
  background-color: #f0f6ff;
  color: #58667e;
  width: 5rem;
  height: 2rem;
  border-radius: 0.4rem;
  position: relative;
}
.coinPage-coin-info .right .coin-priceChange-time .time {
  padding: 1rem 0;
  position: absolute;
  top: 50%;
  left: 0.5rem;
  transform: translateY(-50%);
}
.coinPage-coin-info .right .coin-priceChange-time .dropdownIcon {
  width: 0.8rem;
  height: 0.6rem;
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-40%);
  clip-path: polygon(0 0, 50% 100%, 100% 0);
  background-color: #58667e;
}
.coinPage-coin-info .right .coin-priceChange-time:hover {
  cursor: pointer;
}
.coinPage-coin-info .right .coin-progress {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
@media only screen and (max-width: 37.5em) {
  .coinPage-coin-info .right .coin-progress {
    flex-flow: column;
    align-items: flex-start;
    width: 100%;
  }
}
.coinPage-coin-info .right .coin-progress-level {
  display: flex;
  flex-flow: column;
  align-items: center;
}
@media only screen and (max-width: 37.5em) {
  .coinPage-coin-info .right .coin-progress-level {
    width: 100%;
    flex-flow: row;
    justify-content: space-between;
  }
}
.coinPage-coin-info .right .coin-progress-level .heading {
  text-transform: uppercase;
  font-size: 1.2rem;
}
.coinPage-coin-info .right .coin-progress-level .value {
  font-size: 1.2rem;
}
@media only screen and (max-width: 37.5em) {
  .coinPage-coin-info .right .coin-progress-level .value {
    font-size: 1.6rem;
    font-weight: 700;
  }
}
.coinPage-coin-info .right .coin-progress-graph {
  width: 14rem;
  height: 1rem;
  border-radius: 0.5rem;
  background-color: #d2d7e0;
  position: relative;
  overflow: hidden;
}
@media only screen and (max-width: 37.5em) {
  .coinPage-coin-info .right .coin-progress-graph {
    margin-top: 0.5rem;
    order: 1;
    width: 100%;
  }
}
.coinPage-coin-info .right .coin-progress-graph span {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #8d99b0;
}
.coinPage-coin-extraInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3rem;
  padding-top: 3rem;
  border-top: 1px solid #d4d4d4;
}
@media only screen and (max-width: 75em) {
  .coinPage-coin-extraInfo {
    padding-top: 0rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .coinPage-coin-extraInfo {
    width: 100%;
  }
}
.coinPage-coin-extraInfo .coinExtraInfo {
  width: 25%;
  padding: 1.5rem;
  border-right: 1px solid #d4d4d4;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.coinPage-coin-extraInfo .coinExtraInfo:last-of-type {
  border-right: none;
}
@media only screen and (max-width: 75em) {
  .coinPage-coin-extraInfo .coinExtraInfo {
    width: 48%;
    padding-top: 4rem;
    border-bottom: 1px solid #d4d4d4;
    border-right: none;
  }
}
@media only screen and (max-width: 37.5em) {
  .coinPage-coin-extraInfo .coinExtraInfo {
    width: 100%;
    padding: 1rem 0;
  }
}
.coinPage-coin-extraInfo .coinExtraInfo-item {
  width: 100%;
  margin-bottom: 2rem;
}
.coinPage-coin-extraInfo .coinExtraInfo-item-inline {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}
.coinPage-coin-extraInfo .coinExtraInfo-topic {
  font-size: 1.2rem;
  text-transform: uppercase;
}
.coinPage-coin-extraInfo .coinExtraInfo-value {
  font-size: 1.6rem;
  font-weight: 700;
}
.coinPage-coin-extraInfo .coinExtraInfo-percent {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 1rem;
}
.coinPage-coin-extraInfo .coinExtraInfo-percent .percent {
  font-size: 1.6rem;
  font-weight: 700;
}
.coinPage-coin-extraInfo .coinExtraInfo-percent .percent-up {
  color: #16c582;
}
.coinPage-coin-extraInfo .coinExtraInfo-percent .percent-down {
  color: #ea3941;
}
.coinPage-coin-extraInfo .coinExtraInfo-percent .time {
  font-size: 1.2rem;
  background-color: #f0f6ff;
  color: #58667e;
  width: 5rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 0.4rem;
}
.coinPage-coin-extraInfo .coinExtraInfo-graph {
  margin-top: 1rem;
  width: 100%;
  height: 1rem;
  border-radius: 0.5rem;
  background-color: #d2d7e0;
  position: relative;
  overflow: hidden;
}
.coinPage-coin-extraInfo .coinExtraInfo-graph span {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #8d99b0;
}
.coinPage-coin-extraInfo .marketCap .coinExtraInfo-item {
  text-align: center;
}
@media only screen and (max-width: 75em) {
  .coinPage-coin-extraInfo .marketCap .coinExtraInfo-item {
    text-align: unset;
  }
}
.coinPage-coin-extraInfo .marketCap .coinExtraInfo-percent {
  justify-content: center;
}
@media only screen and (max-width: 75em) {
  .coinPage-coin-extraInfo .marketCap .coinExtraInfo-percent {
    justify-content: unset;
  }
}
.coinPage-graph .chartContainer {
  margin: 4rem 0 4rem 0;
}
.coinPage-graph .chartContainer-buttons {
  width: max-content;
  display: flex;
  gap: 0.5rem;
  margin-bottom: 2rem;
}
.coinPage-graph .chartContainer-buttons-btn {
  background-color: transparent;
  font-size: 1.2rem;
  color: #58667e;
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  letter-spacing: 0.1rem;
  background-color: white;
}
.coinPage-graph .chartContainer-buttons-btn-current {
  background-color: #f0f6ff;
  color: #3762fb;
}
.coinPage-graph .chartContainer-buttons-btn:hover {
  cursor: pointer;
  background-color: #f0f6ff;
}
.coinPage-converter .converter-heading span {
  text-transform: uppercase;
}

/*# sourceMappingURL=style.comp.css.map */
