.homePage {
  .categoryContainer {
    margin-top: 3rem;
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
    }
    &-categories {
      width: max-content;
      display: flex;
      gap: 0.5rem;
      &-category {
        background-color: transparent;
        font-size: 1.2rem;
        color: hsl(218, 18%, 42%);
        outline: none;
        border: none;
        padding: 0.5rem 1rem;
        letter-spacing: 0.1rem;
        &-current {
          background-color: hsl(216, 100%, 97%);
          color: hsl(227, 96%, 60%);
        }
        &:hover {
          cursor: pointer;
          background-color: hsl(216, 100%, 97%);
        }
      }
    }
  }
  .cryptoTable {
    margin-top: 1rem;
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
    position: relative;
    table,
    tr,
    td {
      border: none;
    }
    table {
      border-collapse: collapse;
      min-width: 100%;
    }
    td {
      background-color: white;
    }
    .body-row:hover td {
      background-color: hsl(216, 100%, 97%);
    }
    .header {
      border-top: 1px solid #eff2f5;
      border-bottom: 1px solid #eff2f5;
      &-data {
        font-size: 1.4rem;
        font-weight: bold;
        padding: 1rem 0;
        padding-left: 0.4rem;
        padding-right: 1.5rem;
        &:last-of-type {
          padding-right: 0;
        }
        &-fixed {
          &-rank {
            position: sticky;
            z-index: 2;
            left: 0;
          }
          &-name {
            position: sticky;
            z-index: 2;
            left: 0;
          }
        }
      }
    }
    .body-row-cell {
      padding: 1rem 1.5rem 1rem 0.4rem;
      font-size: 1.4rem;
      font-weight: 600;
      &:last-of-type {
        padding-right: 0;
      }
      &-fixed {
        &-rank {
          position: sticky;
          z-index: 2;
          left: 0;
        }
        &-coin {
          position: sticky;
          z-index: 2;
          left: 0;
        }
      }
      &-price {
        color: black;
        &-up {
          color: hsl(157, 80%, 43%);
        }
        &-down {
          color: hsl(357, 81%, 57%);
        }
      }
    }
    .rank {
      font-size: 1.2rem;
      color: hsl(218, 18%, 42%);
    }
    .coin {
      display: flex;
      gap: 1rem;
      align-items: center;
      font-weight: normal;
      &-img {
        width: 2.5rem;
        height: 2.5rem;
      }
      &-name {
        letter-spacing: 0.2rem;
        &-full {
          font-size: 1.6rem;
        }
        &-symbol {
          font-size: 1.2rem;
          color: hsl(218, 18%, 42%);
          text-transform: uppercase;
        }
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}
