.watchlistPage {
  width: 100%;
  margin-bottom: 4rem;
  &-watchlist {
    display: flex;
    flex-flow: column;
    margin-bottom: 4rem;
    &-top {
      margin-top: 3rem;
      .heading {
        display: flex;
        align-items: center;
        gap: 2rem;
        position: relative;
        .name {
          font-size: 3rem;
          font-weight: 700;
        }
        .icons {
          display: flex;
          gap: 1rem;
          align-items: center;
          &-icon {
            width: 1.6rem;
            height: 1.6rem;
            color: hsl(218, 18%, 50%);
          }
          &-iconContainer {
            background-color: hsl(218, 18%, 92.5%);
            border-radius: 0.4rem;
            padding: 0.2rem 0.5rem;
            &:hover {
              cursor: pointer;
              background-color: hsl(218, 18%, 45%);
            }
            &:hover .icons-icon {
              color: hsl(218, 18%, 97%);
            }
          }
          &-icon-chevron {
            width: 1.6rem;
            height: 1.6rem;
            color: hsl(218, 18%, 50%);
            &:hover {
              cursor: pointer;
              color: hsl(218, 84%, 51%);
            }
          }
        }
        .select {
          position: absolute;
          top: 4.5rem;
          left: 0;
          width: max-content;
          box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
          background-color: white;
          z-index: 12;
          border-radius: 0.5rem;
          padding: 1rem;
          display: flex;
          flex-flow: column;
          align-items: center;
          &-list {
            list-style: none;
            width: max-content;
            min-width: 25rem;
            //border-bottom: 1px solid hsl(210, 23%, 85%);
            &-item {
              font-size: 1.6rem;
              font-weight: 700;
              color: hsl(0, 0, 45%);
              padding: 1rem 1rem;
              border-radius: 0.4rem;
              &::selection {
                background-color: transparent;
              }
              &:last-of-type {
                border-bottom: none;
              }
              &:hover {
                cursor: pointer;
                background-color: hsl(218, 18%, 97%);
              }
            }
          }
          .btn {
            width: calc(100% - 2rem);
          }
        }
      }
      .desc {
        font-size: 1.6rem;
        color: hsl(0, 0, 25%);
        max-width: 45rem;
      }
      .btn {
        margin-top: 1rem;
        outline: none;
        border: none;
        font-size: 1.2rem;
        text-transform: uppercase;
        background-color: hsl(218, 18%, 95%);
        color: hsl(218, 18%, 25%);
        padding: 0.7rem 2rem;
        border-radius: 0.4rem;
        font-weight: 700;
        transition: all 0.3s ease;
        &:hover {
          background-color: hsl(218, 18%, 45%);
          color: hsl(218, 18%, 97%);
          cursor: pointer;
        }
      }
    }
    &-table {
      margin-top: 2rem;
      width: 100%;
      .cryptoTable {
        width: 100%;
        overflow: hidden;
        overflow-x: auto;
        position: relative;
        table,
        tr,
        td {
          border: none;
        }
        table {
          border-collapse: collapse;
          min-width: 100%;
        }
        td {
          background-color: white;
        }
        .body-row:hover td {
          background-color: hsl(216, 100%, 97%);
        }
        .header {
          border-top: 1px solid #eff2f5;
          border-bottom: 1px solid #eff2f5;
          &-data {
            font-size: 1.4rem;
            font-weight: bold;
            padding: 1rem 0;
            padding-left: 0.4rem;
            padding-right: 1.5rem;
            white-space: nowrap;
            &:last-of-type {
              padding-right: 0;
            }
            &-fixed {
              &-rank {
                position: sticky;
                z-index: 2;
                left: 0;
              }
              &-name {
                position: sticky;
                z-index: 2;
                left: 0;
              }
            }
          }
        }
        .body-row-cell {
          padding: 1rem 1.5rem 1rem 0.4rem;
          font-size: 1.4rem;
          font-weight: 600;
          &:last-of-type {
            padding-right: 0;
          }
          &-fixed {
            &-rank {
              position: sticky;
              z-index: 2;
              left: 0;
            }
            &-coin {
              position: sticky;
              z-index: 2;
              left: 0;
            }
          }
          &-price {
            color: black;
            &-up {
              color: hsl(157, 80%, 43%);
            }
            &-down {
              color: hsl(357, 81%, 57%);
            }
          }
        }
        .rank {
          font-size: 1.2rem;
          color: hsl(218, 18%, 42%);
        }
        .coin {
          display: flex;
          gap: 1rem;
          align-items: center;
          font-weight: normal;
          &-img {
            width: 2.5rem;
            height: 2.5rem;
          }
          &-name {
            letter-spacing: 0.2rem;
            &-full {
              font-size: 1.6rem;
            }
            &-symbol {
              font-size: 1.2rem;
              color: hsl(218, 18%, 42%);
              text-transform: uppercase;
            }
          }
          &:hover {
            cursor: pointer;
          }
        }
        .deleteIcon {
          color: hsl(218, 18%, 50%);
          width: 2rem;
          height: 2rem;
          &:hover {
            cursor: pointer;
            color: hsl(357, 81%, 57%);
          }
        }
      }
      .empty {
        width: 100%;
        height: max-content;
        padding: 4rem;
        display: grid;
        place-items: center;
        border-bottom: 1px solid hsl(210, 23%, 95%);
        &-container {
          display: flex;
          flex-flow: column;
          align-items: center;
          gap: 1rem;
          width: 40rem;
          .iconContainer {
            width: 8rem;
            height: 8rem;
            border-radius: 50%;
            background-color: hsl(216, 100%, 93%);
            display: grid;
            place-items: center;
            &-icon {
              width: 3.5rem;
              height: 3.5rem;
              color: hsl(218, 18%, 42%);
            }
          }
          .heading {
            font-size: 3rem;
            font-weight: 700;
          }
          .desc {
            font-size: 2rem;
            color: hsl(218, 18%, 42%);
            text-align: center;
          }
          .btn {
            margin-top: 1rem;
            outline: none;
            border: none;
            font-size: 1.4rem;
            text-transform: uppercase;
            background-color: hsl(218, 18%, 95%);
            color: hsl(218, 18%, 25%);
            padding: 1rem 3rem;
            border-radius: 0.5rem;
            font-weight: 700;
            transition: all 0.3s ease;
            &:hover {
              background-color: hsl(218, 18%, 45%);
              color: hsl(218, 18%, 97%);
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  .newWatchlistModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 43rem;
    height: max-content;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    background-color: white;
    z-index: 12;
    border-radius: 0.5rem;
    padding: 2rem;
    &-heading {
      font-size: 2rem;
      font-weight: 700;
    }
    .watchlistModal-createSection {
      padding-top: 1rem;
    }
  }
}
