.searchModal {
  position: fixed;
  top: 6rem;
  right: 10%;
  width: 42.5rem;
  height: max-content;
  background-color: white;
  z-index: 12;
  border-radius: 1rem;
  padding: 1rem 2rem 2rem 2rem;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  @include respond(phone) {
    top: 0;
    left: 0;
    width: 100%;
  }
  &-inputContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 12;
    .searchIcon {
      width: 2rem;
      height: 2rem;
      color: hsl(218, 18%, 62%);
    }
    input {
      width: calc(100% - 5rem);
      outline: none;
      border: none;
      padding: 0.5rem 0;
      font-size: 1.6rem;
    }
    .closeIcon {
      width: 2rem;
      height: 2rem;
      color: hsl(218, 18%, 52%);
      &:hover {
        cursor: pointer;
      }
    }
  }
  &-noInput {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 2rem;
  }
  &-trendingSection {
    width: 100%;
    &-heading {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 0 1rem;
      .text {
        font-size: 1.2rem;
        text-transform: uppercase;
      }
      .icon {
        width: 1.2rem;
        height: 1.2rem;
        color: rgb(209, 63, 26);
      }
    }
    &-list {
      margin-top: 0.5rem;
      width: 100%;
      list-style: none;
      display: flex;
      flex-flow: column;
      //gap: 1rem;
      &-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.7rem 1rem;
        &:hover {
          background-color: hsl(216, 100%, 97%);
          cursor: pointer;
        }
        .left {
          display: flex;
          align-items: center;
          gap: 0.8rem;
          .img {
            width: 2rem;
            height: 2rem;
          }
          .name {
            font-size: 1.6rem;
            font-weight: 700;
          }
          .symbol {
            font-size: 1.2rem;
            text-transform: uppercase;
            color: hsl(218, 18%, 52%);
          }
        }
        .rank {
          font-size: 1.4rem;
          color: hsl(218, 18%, 52%);
        }
      }
    }
  }
  &-recentSection {
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 0.7rem;
    &-heading {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 0 1rem;
      .text {
        font-size: 1.2rem;
        text-transform: uppercase;
      }
      .icon {
        width: 1.4rem;
        height: 1.4rem;
        color: hsl(219, 61%, 45%);
      }
    }
    &-listContainer {
      width: calc(100% - 2rem);
      overflow: hidden;
      overflow-x: auto;
      align-self: center;

      &-list {
        list-style: none;
        display: flex;
        gap: 1rem;
        width: max-content;
        padding: 0.5rem 0rem;
        .listItem {
          width: 8rem;
          height: 8rem;
          border-radius: 1rem;
          background-color: hsl(216, 100%, 99%);
          display: flex;
          flex-flow: column;
          align-items: center;
          justify-content: space-evenly;
          padding: 0.5rem;
          &:hover {
            cursor: pointer;
            background-color: hsl(216, 100%, 97%);
          }
          .img {
            width: 3rem;
            height: 3rem;
          }
          .symbol {
            text-transform: uppercase;
            font-size: 1.4rem;
          }
        }
      }
    }
  }
  &-results {
    margin-top: 1rem;
    width: 100%;
    &-heading {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 0 1rem;
      .text {
        font-size: 1.2rem;
        text-transform: uppercase;
      }
    }
    &-list {
      margin-top: 0.5rem;
      width: 100%;
      list-style: none;
      display: flex;
      flex-flow: column;
      //gap: 1rem;
      &-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.7rem 1rem;
        &:hover {
          background-color: hsl(216, 100%, 97%);
          cursor: pointer;
        }
        .left {
          display: flex;
          align-items: center;
          gap: 0.8rem;
          .img {
            width: 2rem;
            height: 2rem;
          }
          .name {
            font-size: 1.6rem;
            font-weight: 700;
          }
          .symbol {
            font-size: 1.2rem;
            text-transform: uppercase;
            color: hsl(218, 18%, 52%);
          }
        }
        .rank {
          font-size: 1.4rem;
          color: hsl(218, 18%, 52%);
        }
      }
    }
  }
  &-notFound {
    width: 100%;
    height: 25rem;
    display: grid;
    place-items: center;
    &-container {
      display: flex;
      flex-flow: column;
      width: 27rem;
      align-items: center;
      gap: 0.5rem;
      .iconContainer {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        background-color: hsl(218, 18%, 90%);
        display: grid;
        place-items: center;
        .icon {
          width: 3rem;
          height: 3rem;
          color: hsl(218, 18%, 55%);
        }
      }
      .heading {
        font-size: 2rem;
        font-weight: 700;
        color: hsl(218, 18%, 35%);
      }
      .desc {
        text-align: center;
        font-size: 1.6rem;
        color: hsl(218, 18%, 45%);
      }
    }
  }
  &-watchList {
    top: 50%;
    right: unset;
    left: 50%;
    transform: translate(-50%, -50%);
    @include respond(phone) {
      width: 80%;
    }
  }
  &-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: hsla(0, 0, 0, 0.05);
    z-index: 11;
  }
}
