.topNav {
  background-color: white;
  border-bottom: 1px solid hsl(0, 0%, 83%);
  &-content {
    display: flex;
    justify-content: space-between;
    padding: 1.8rem 10% 1.5rem 10%;
    border-bottom: 1px solid hsl(0, 0%, 83%);
    @include respond(phone) {
      padding-left: 5%;
      padding-right: 5%;
    }
    &-left {
      &-logo {
        display: flex;
        gap: 1rem;
        align-items: center;
        .icon {
          width: 3rem;
          height: 3rem;
          @include respond(phone) {
            width: 2.5rem;
            height: 2.5rem;
          }
        }
        .text {
          font-weight: 900;
          font-size: 2.5rem;
          letter-spacing: 0.2rem;
          //color: hsl(218, 18%, 45%);

          @include respond(phone) {
            font-size: 2.5rem;
          }
        }
        // .logo {
        //   width: 3rem;
        //   height: 3rem;
        //   background-color: hsl(218, 18%, 45%);
        // }
      }
    }
    &-right {
      display: flex;
      gap: 4rem;
      align-items: center;
      &-item {
        span {
          font-size: 1.2rem;
          text-transform: uppercase;
          letter-spacing: 0.1rem;
          color: hsl(0, 0%, 23%);
          font-weight: 700;
          @include respond(phone) {
            display: none;
          }
        }
        .icon {
          display: none;
          width: 2rem;
          height: 2rem;
          color: hsl(218, 18%, 25%);
          @include respond(phone) {
            display: block;
          }
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  &-global {
    width: 80%;
    margin: 0 10%;
    overflow: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    @include respond(phone) {
      width: 90%;
      margin: 0 5%;
    }
    &::-webkit-scrollbar {
      display: none;
    }
    &-slider {
      width: max-content;
      display: flex;
      gap: 2rem;
      .globalItem {
        padding: 1rem 0;
        line-height: 1.2rem;
        &-topic {
          font-size: 1.2rem;
          text-transform: uppercase;
          color: hsl(0, 0%, 23%);
          margin-right: 0.6rem;
        }
        &-value {
          font-size: 1.2rem;
          color: hsl(214, 64%, 42%);
        }
      }
    }
  }
}
