/*
0-600 phone
600-900 tablet portrait
900-1200 tablet landscape
1200-1800 normal styles
1800 big desktops

breakpoint argument choices:
- phone--600px--37.5em
- tab-port--900px--56.25em
- tab-land--1200px--75em
- big-desk--1800px--112.5em
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: "Nunito", sans-serif, courier, arial, helvetica;
  font-weight: 400;
  font-size: 62.5%;
  /*62.5% of 16px is 10px*/
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}
@media only screen and (min-width: 131.25em) {
  html {
    font-size: 90%;
  }
}
@media only screen and (min-width: 160em) {
  html {
    font-size: 100%;
  }
}
@media only screen and (min-width: 192em) {
  html {
    font-size: 120%;
  }
}

body {
  box-sizing: border-box;
  text-transform: none;
  background-color: white;
  overflow-x: hidden;
  /*&::-webkit-scrollbar {
    width: 1.5rem;
  }
  &::-webkit-scrollbar-track {
    background: rgb(99, 99, 99);
  }
  &::-webkit-scrollbar-thumb {
    border: 0.4rem solid rgb(99, 99, 99);
    background: rgb(196, 196, 196);
    border-radius: 0.75rem;
    &:hover {
      background: white;
    }
  }*/
}

input,
textarea {
  font-family: "Nunito", sans-serif, courier, arial, helvetica;
}

.btn:hover {
  cursor: pointer;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: white;
}

.layout {
  font-size: 2rem;
  background-color: #f7f9fd;
}

.tabContainer {
  padding: 1rem 0 0.5rem 0;
}
.tabContainer .tabSlider {
  width: 80%;
  margin: 0 10%;
  padding-bottom: 0.5rem;
  overflow: hidden;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
@media only screen and (max-width: 37.5em) {
  .tabContainer .tabSlider {
    width: 90%;
    margin: 0 5%;
  }
}
.tabContainer .tabSlider::-webkit-scrollbar {
  height: 1rem;
  background: #e6e6e6;
}
.tabContainer .tabSlider::-webkit-scrollbar-track {
  background: transparent;
}
.tabContainer .tabSlider::-webkit-scrollbar-thumb {
  border: 0.2rem solid #e6e6e6;
  background: #c4c4c4;
}
.tabContainer .tabSlider::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
}
@media only screen and (max-width: 37.5em) {
  .tabContainer .tabSlider::-webkit-scrollbar {
    display: none;
  }
}
.tabContainer .tabSlider-tabs {
  width: max-content;
  display: flex;
  gap: 1rem;
}

/*.pageContainer {
  position: relative;
  margin-top: 2rem;
  width: 80%;
  margin: 2rem 10%;
  border-bottom: 1px solid hsl(0, 0%, 83%);
}
.page {
  position: absolute;
  width: 100%;
  &-invisible {
    z-index: -1;
    left: -100vw;
    top: -1100vh;
  }
}*/
.pageContainer {
  position: relative;
  width: 100%;
  padding: 0rem 10%;
  border-bottom: 1px solid #d4d4d4;
}
@media only screen and (max-width: 37.5em) {
  .pageContainer {
    padding: 0rem 5%;
  }
}

.page {
  position: absolute;
  width: 80%;
}
@media only screen and (max-width: 37.5em) {
  .page {
    width: 90%;
  }
}
.page-invisible {
  z-index: -1;
  left: -100vw;
  top: -1100vh;
}

.tab {
  display: flex;
  width: 15rem;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  border: 2px solid #d4d4d4;
  position: relative;
}
.tab:hover {
  cursor: pointer;
  border: 2px solid #93bcf0;
}
.tab-current {
  border: 2px solid #3a83e4;
}
.tab-current .tab-content-heading {
  color: #3a83e4;
}
.tab-current:hover {
  border: 2px solid #3a83e4;
}
.tab-content {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
}
.tab-content-heading {
  font-size: 1rem;
}
.tab-content-subheading {
  font-weight: bold;
}
.topNav {
  background-color: white;
  border-bottom: 1px solid #d4d4d4;
}
.topNav-content {
  display: flex;
  justify-content: space-between;
  padding: 1.8rem 10% 1.5rem 10%;
  border-bottom: 1px solid #d4d4d4;
}
@media only screen and (max-width: 37.5em) {
  .topNav-content {
    padding-left: 5%;
    padding-right: 5%;
  }
}
.topNav-content-left-logo {
  font-weight: bold;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
}
.topNav-content-right {
  display: flex;
  gap: 4rem;
  align-items: center;
}
.topNav-content-right-item {
  display: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #3b3b3b;
  font-weight: 700;
}
.topNav-content-right-item:hover {
  cursor: pointer;
}
.topNav-global {
  width: 80%;
  margin: 0 10%;
  overflow: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
@media only screen and (max-width: 37.5em) {
  .topNav-global {
    width: 90%;
    margin: 0 5%;
  }
}
.topNav-global::-webkit-scrollbar {
  display: none;
}
.topNav-global-slider {
  width: max-content;
  display: flex;
  gap: 2rem;
}
.topNav-global-slider .globalItem {
  padding: 1rem 0;
  line-height: 1.2rem;
}
.topNav-global-slider .globalItem-topic {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #3b3b3b;
  margin-right: 0.6rem;
}
.topNav-global-slider .globalItem-value {
  font-size: 1.2rem;
  color: #2762b0;
}

.alertBox {
  z-index: 2000;
  position: fixed;
  top: 9vh;
  left: 50%;
  transform: translateX(-50%);
  width: minmax(max-content, 30rem);
  height: max-content;
  padding: 1rem 2rem;
  padding-right: 3.5rem;
  border-radius: 5px;
  display: flex;
  flex-flow: column;
}
.alertBox-error {
  background-color: #e69494;
}
.alertBox-success {
  background-color: #7cd89b;
}

.alertText {
  font-size: 1.4rem;
}
.alertText-error {
  color: #8a0000;
  font-weight: 500;
}
.alertText-success {
  color: #004200;
}

.alertClose {
  position: absolute;
  top: 1.2rem;
  right: 1rem;
  color: #3d3b3b;
  width: 1.6rem;
  height: 1.6rem;
}
.alertClose:hover {
  color: #c40000;
  cursor: pointer;
}

.search {
  width: 100%;
}
.search-input {
  border: none;
  outline: none;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  width: 100%;
  padding: 1rem 2rem;
  border: 1px solid #d4d4d4;
  letter-spacing: 0.2rem;
}
.search-input::placeholder {
  letter-spacing: 0.3rem;
}

.homePage {
  width: 100%;
  display: flex;
  flex-flow: column;
  margin-bottom: 4rem;
}
.homePage .categoryContainer {
  margin-top: 3rem;
  width: 100%;
  overflow: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.homePage .categoryContainer::-webkit-scrollbar {
  display: none;
}
.homePage .categoryContainer-categories {
  width: max-content;
  display: flex;
  gap: 0.5rem;
}
.homePage .categoryContainer-categories-category {
  background-color: transparent;
  font-size: 1.2rem;
  color: #58667e;
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  letter-spacing: 0.1rem;
}
.homePage .categoryContainer-categories-category-current {
  background-color: #f0f6ff;
  color: #3762fb;
}
.homePage .categoryContainer-categories-category:hover {
  cursor: pointer;
  background-color: #f0f6ff;
}
.homePage .cryptoTable {
  margin-top: 1rem;
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
  position: relative;
}
.homePage .cryptoTable table,
.homePage .cryptoTable tr,
.homePage .cryptoTable td {
  border: none;
}
.homePage .cryptoTable table {
  border-collapse: collapse;
  min-width: 100%;
}
.homePage .cryptoTable td {
  background-color: white;
}
.homePage .cryptoTable .body-row:hover td {
  background-color: #f0f6ff;
}
.homePage .cryptoTable .header {
  border-top: 1px solid #eff2f5;
  border-bottom: 1px solid #eff2f5;
}
.homePage .cryptoTable .header-data {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 1rem 0;
  padding-left: 0.4rem;
  padding-right: 1.5rem;
}
.homePage .cryptoTable .header-data:last-of-type {
  padding-right: 0;
}
.homePage .cryptoTable .header-data-fixed-rank {
  position: sticky;
  z-index: 2;
  left: 0;
}
.homePage .cryptoTable .header-data-fixed-name {
  position: sticky;
  z-index: 2;
  left: 0;
}
.homePage .cryptoTable .body-row-cell {
  padding: 1rem 1.5rem 1rem 0.4rem;
  font-size: 1.4rem;
  font-weight: 600;
}
.homePage .cryptoTable .body-row-cell:last-of-type {
  padding-right: 0;
}
.homePage .cryptoTable .body-row-cell-fixed-rank {
  position: sticky;
  z-index: 2;
  left: 0;
}
.homePage .cryptoTable .body-row-cell-fixed-coin {
  position: sticky;
  z-index: 2;
  left: 0;
}
.homePage .cryptoTable .body-row-cell-price {
  color: black;
}
.homePage .cryptoTable .body-row-cell-price-up {
  color: #16c582;
}
.homePage .cryptoTable .body-row-cell-price-down {
  color: #ea3941;
}
.homePage .cryptoTable .rank {
  font-size: 1.2rem;
  color: #58667e;
}
.homePage .cryptoTable .coin {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-weight: normal;
}
.homePage .cryptoTable .coin-img {
  width: 2.5rem;
  height: 2.5rem;
}
.homePage .cryptoTable .coin-name {
  letter-spacing: 0.2rem;
}
.homePage .cryptoTable .coin-name-full {
  font-size: 1.6rem;
}
.homePage .cryptoTable .coin-name-symbol {
  font-size: 1.2rem;
  color: #58667e;
  text-transform: uppercase;
}
.homePage .cryptoTable .coin:hover {
  cursor: pointer;
}
.homePage .more {
  margin: 0 auto;
  margin-top: 1rem;
  outline: none;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 1.6rem;
  color: #58667e;
}
.homePage .more:hover {
  cursor: pointer;
  color: #3762fb;
}

.coinPage {
  padding-top: 3rem;
}
.coinPage-coin-info {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 37.5em) {
  .coinPage-coin-info {
    flex-flow: column;
    gap: 2rem;
  }
}
.coinPage-coin-info .left {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  width: max-content;
}
@media only screen and (max-width: 37.5em) {
  .coinPage-coin-info .left {
    width: 100%;
    align-items: flex-start;
  }
}
.coinPage-coin-info .left .coin {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.coinPage-coin-info .left .coin-img {
  width: 15rem;
  height: 15rem;
}
@media only screen and (max-width: 37.5em) {
  .coinPage-coin-info .left .coin-img {
    width: 6rem;
    height: 6rem;
  }
}
.coinPage-coin-info .left .coin-textual-name {
  font-size: 3rem;
  letter-spacing: 0.2rem;
}
@media only screen and (max-width: 37.5em) {
  .coinPage-coin-info .left .coin-textual-name {
    font-size: 2rem;
    letter-spacing: 0.1rem;
  }
}
.coinPage-coin-info .left .coin-textual-info {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.coinPage-coin-info .left .coin-textual-symbol {
  text-transform: uppercase;
  font-size: 2rem;
  color: #8c8c8c;
  font-weight: 700;
}
.coinPage-coin-info .left .coin-textual-rank {
  width: max-content;
  height: 2rem;
  padding: 0 0.5rem;
  font-size: 1.2rem;
  display: grid;
  place-items: center;
  background-color: #e1e4ea;
  color: #58667e;
  border-radius: 0.2rem;
}
.coinPage-coin-info .left .coin-textual .btn {
  outline: none;
  border: none;
  background-color: transparent;
  color: #58667e;
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  border-radius: 0.5rem;
}
.coinPage-coin-info .left .coin-textual .btn:hover {
  color: #3762fb;
}
@media only screen and (max-width: 37.5em) {
  .coinPage-coin-info .left .coin-textual .btn {
    display: none;
  }
}
.coinPage-coin-info .right {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  gap: 1rem;
}
@media only screen and (max-width: 37.5em) {
  .coinPage-coin-info .right {
    width: 100%;
    align-items: flex-start;
  }
}
.coinPage-coin-info .right .coin-price {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
}
.coinPage-coin-info .right .coin-priceChange {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.coinPage-coin-info .right .coin-priceChange-topic {
  font-size: 1.2rem;
  text-transform: uppercase;
}
.coinPage-coin-info .right .coin-priceChange-change {
  font-size: 1.6rem;
}
.coinPage-coin-info .right .coin-priceChange-change-low {
  color: #ea3941;
}
.coinPage-coin-info .right .coin-priceChange-change-high {
  color: #16c582;
}
.coinPage-coin-info .right .coin-priceChange-time {
  font-size: 1.2rem;
  background-color: #f0f6ff;
  color: #58667e;
  width: 5rem;
  height: 2rem;
  border-radius: 0.4rem;
  position: relative;
}
.coinPage-coin-info .right .coin-priceChange-time .time {
  padding: 1rem 0;
  position: absolute;
  top: 50%;
  left: 0.5rem;
  transform: translateY(-50%);
}
.coinPage-coin-info .right .coin-priceChange-time .dropdownIcon {
  width: 0.8rem;
  height: 0.6rem;
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-40%);
  clip-path: polygon(0 0, 50% 100%, 100% 0);
  background-color: #58667e;
}
.coinPage-coin-info .right .coin-priceChange-time:hover {
  cursor: pointer;
}
.coinPage-coin-info .right .coin-progress {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
@media only screen and (max-width: 37.5em) {
  .coinPage-coin-info .right .coin-progress {
    flex-flow: column;
    align-items: flex-start;
    width: 100%;
  }
}
.coinPage-coin-info .right .coin-progress-level {
  display: flex;
  flex-flow: column;
  align-items: center;
}
@media only screen and (max-width: 37.5em) {
  .coinPage-coin-info .right .coin-progress-level {
    width: 100%;
    flex-flow: row;
    justify-content: space-between;
  }
}
.coinPage-coin-info .right .coin-progress-level .heading {
  text-transform: uppercase;
  font-size: 1.2rem;
}
.coinPage-coin-info .right .coin-progress-level .value {
  font-size: 1.2rem;
}
@media only screen and (max-width: 37.5em) {
  .coinPage-coin-info .right .coin-progress-level .value {
    font-size: 1.6rem;
    font-weight: 700;
  }
}
.coinPage-coin-info .right .coin-progress-graph {
  width: 14rem;
  height: 1rem;
  border-radius: 0.5rem;
  background-color: #d2d7e0;
  position: relative;
  overflow: hidden;
}
@media only screen and (max-width: 37.5em) {
  .coinPage-coin-info .right .coin-progress-graph {
    margin-top: 0.5rem;
    order: 1;
    width: 100%;
  }
}
.coinPage-coin-info .right .coin-progress-graph span {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #8d99b0;
}
.coinPage-coin-extraInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3rem;
  padding-top: 3rem;
  border-top: 1px solid #d4d4d4;
}
@media only screen and (max-width: 75em) {
  .coinPage-coin-extraInfo {
    padding-top: 0rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .coinPage-coin-extraInfo {
    width: 100%;
  }
}
.coinPage-coin-extraInfo .coinExtraInfo {
  width: 25%;
  padding: 1.5rem;
  border-right: 1px solid #d4d4d4;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.coinPage-coin-extraInfo .coinExtraInfo:last-of-type {
  border-right: none;
}
@media only screen and (max-width: 75em) {
  .coinPage-coin-extraInfo .coinExtraInfo {
    width: 48%;
    padding-top: 4rem;
    border-bottom: 1px solid #d4d4d4;
    border-right: none;
  }
}
@media only screen and (max-width: 37.5em) {
  .coinPage-coin-extraInfo .coinExtraInfo {
    width: 100%;
    padding: 1rem 0;
  }
}
.coinPage-coin-extraInfo .coinExtraInfo-item {
  width: 100%;
  margin-bottom: 2rem;
}
.coinPage-coin-extraInfo .coinExtraInfo-item-inline {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}
.coinPage-coin-extraInfo .coinExtraInfo-topic {
  font-size: 1.2rem;
  text-transform: uppercase;
}
.coinPage-coin-extraInfo .coinExtraInfo-value {
  font-size: 1.6rem;
  font-weight: 700;
}
.coinPage-coin-extraInfo .coinExtraInfo-percent {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 1rem;
}
.coinPage-coin-extraInfo .coinExtraInfo-percent .percent {
  font-size: 1.6rem;
  font-weight: 700;
}
.coinPage-coin-extraInfo .coinExtraInfo-percent .percent-up {
  color: #16c582;
}
.coinPage-coin-extraInfo .coinExtraInfo-percent .percent-down {
  color: #ea3941;
}
.coinPage-coin-extraInfo .coinExtraInfo-percent .time {
  font-size: 1.2rem;
  background-color: #f0f6ff;
  color: #58667e;
  width: 5rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 0.4rem;
}
.coinPage-coin-extraInfo .coinExtraInfo-graph {
  margin-top: 1rem;
  width: 100%;
  height: 1rem;
  border-radius: 0.5rem;
  background-color: #d2d7e0;
  position: relative;
  overflow: hidden;
}
.coinPage-coin-extraInfo .coinExtraInfo-graph span {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #8d99b0;
}
.coinPage-coin-extraInfo .marketCap .coinExtraInfo-item {
  text-align: center;
}
@media only screen and (max-width: 75em) {
  .coinPage-coin-extraInfo .marketCap .coinExtraInfo-item {
    text-align: unset;
  }
}
.coinPage-coin-extraInfo .marketCap .coinExtraInfo-percent {
  justify-content: center;
}
@media only screen and (max-width: 75em) {
  .coinPage-coin-extraInfo .marketCap .coinExtraInfo-percent {
    justify-content: unset;
  }
}
.coinPage-graph .chartContainer {
  margin: 4rem 0 4rem 0;
}
.coinPage-graph .chartContainer-buttons {
  width: max-content;
  display: flex;
  gap: 0.5rem;
  margin-bottom: 2rem;
}
.coinPage-graph .chartContainer-buttons-btn {
  background-color: transparent;
  font-size: 1.2rem;
  color: #58667e;
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  letter-spacing: 0.1rem;
  background-color: white;
}
.coinPage-graph .chartContainer-buttons-btn-current {
  background-color: #f0f6ff;
  color: #3762fb;
}
.coinPage-graph .chartContainer-buttons-btn:hover {
  cursor: pointer;
  background-color: #f0f6ff;
}
.coinPage-converter .converter-heading span {
  text-transform: uppercase;
}

/*# sourceMappingURL=style.css.map */
